@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --main-color: #7370d3;
  --bg-color: #bcbeee;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

li {
  list-style: none;
}

button {
  border: 0;
  background: none;
}

body {
  background-color: #bcbeee;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'S-CoreDream-3Light';
}

.todo_wr {
  width: 375px;
  min-height: 500px;
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 30px;
}

.todo_wr h2 {
  margin: 0 0 30px 0;
}

.todo_wr form {
  width: 100%;
  display: flex;
}

.todo_wr input {
  width: 80%;
  padding: 0 10px;
  margin: 0 3% 0 0;
  height: 40px;
  border: solid 1px #e1e2e3;
  border-radius: 5px;
  font-family: 'S-CoreDream-3Light';
  font-size: 16px;
}

.todo_wr .btn_submit {
  width: 20%;
  height: 40px;
  line-height: 40px;
  border: 0;
  background-color: #7370d3;
  border-radius: 5px;
  color: #fff;
}

.todo_wr h2 {
  text-align: center;
}

.todo_list {
  margin: 30px auto;
}

.todo_list li {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.todo_list li.on {
  color: #999;
}

.todo_list li .btn_check {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  position: relative;
}

.todo_list li .btn_check:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
}

.todo_list li .btn_check.on:before {
  background: #7370d3;
  border: none;
}

.todo_list li .btn_check.on:after {
  display: block;
  content: "";
  width: 8px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-color: #fff;
  border-style: solid;
  border-width: 0 0 2px 2px;
  background: transparent;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.todo_list li .btn_del {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 0;
  position: absolute;
  top: 50%;
  right: 10px;
  background: url(https://cdn.iconscout.com/icon/free/png-256/delete-844-902124.png) no-repeat 100%
    100%;
  background-size: contain;
}
